dn: olcDatabase={1}{{ slapd_db_type }},cn=config
changetype: modify
replace: olcSuffix
olcSuffix: {{ ldap_basedn }}
-
replace: olcRootDN
olcRootDN: {{ ldap_admin_dn }}
-
replace: olcRootPW
olcRootPW: {{ ldap_admin_hashed_passwd }}
-
replace: olcAccess
olcAccess: {0}to * by dn="{{ ldap_admin_dn }}" write by * read
